<div class="container text-center mt-4 px-3">
    <div class="d-flex flex-column align-items-center">
        <img src="images/pixel-bowling-icon.png" alt="Pixel Bowling Logo" class="pixel-logo mb-4 d-none d-sm-block">
        <h1 class="mb-4 fs-4 d-none d-sm-block">Bowling Buddy</h1>
    </div>
    <div class="card mx-auto p-3" style="max-width: 100%; max-width: 400px;">
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="videoInput" class="form-label">Insert the link to the YouTube video</label>
                <textarea class="form-control w-100" id="videoLinkInput" placeholder="YouTube video link" [(ngModel)]="videoLink" name="videoLink"></textarea>
            </div>
            <button type="submit" class="cute-btn w-100" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                <span *ngIf="!loading">🎳 Calculate Scores</span>
                <span *ngIf="loading">Calculating...</span>
            </button>
        </form>
    </div>
</div>