<div class="container text-center mt-4">
    <h1 class="mb-4">Annotate Image</h1>
    <p>Ctrl + scroll to zoom in or out</p>
    <p>Ctrl + click to pan</p>

    <button class="cute-btn w-100" (click)="sendAnnotations()" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        <span *ngIf="!loading">Done</span>
        <span *ngIf="loading">Submitting...</span>
      </button>

    <annotator #annotator [naturalSize]="true" [imageUrl]="imageUrl" [shapes]="annotations"
        [shortcut]="{ del: true, bksp: true }" (onReady)="annotator.drawRectangle()"
        (onAdded)="onAnnotationAdded($event)" (onEdited)="onAnnotationEdited($event)"></annotator>



    <!-- Template for no image -->
    <ng-template #noImageTemplate>
        <div class="card mx-auto p-4" style="max-width: 400px;">
            <h2 class="text-danger">No Image Available</h2>
            <p class="text-muted">We couldn't load the image. Please try again later or check your session.</p>
            <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
        </div>
    </ng-template>
</div>