<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/pixel-bowling-icon.png" alt="Pixel Bowling Logo" class="pixel-logo pixel-logo-nav">
            Sodnik</a>
    </div>
</nav>

<!--Glavni div-->
<div class="container-md my-10">
    <router-outlet></router-outlet>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy;Hairfryer DragonHack2025</p>
</footer>